html,
body {
  color: #333;
  padding-left: 25px;
  padding-right: 25px;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}
#pagewrap {
  width: 990px;
  margin: 0 auto;
}

/*navigation*/

.navbar {
  padding: 0.8rem;
}
.navbar-nav li {
  padding-left: 20px;
}

.nav-link {
  font-size: 1em;
}

nav .navbar-nav li button a {
  color: white !important;
}

.navlinks a {
  text-decoration: none;
  color: #333;
}

.navlinks a:hover {
  text-decoration: none;
  color: #333;
  border-bottom: 4px solid #397259;
}

.active {
  border-bottom: 3px solid #397259;
}
a:link {
  text-decoration: none;
  color: #333;
}

a:visited {
  text-decoration: none;
  color: #333;
}

/*hero*/

#main3 {
  margin-top: 193px;
}

.green {
  background-color: #397259;
  height: 200px;
  width: 100% !important;
  position: absolute;
  left: 0;
  right: 0;
  margin-bottom: 60px;
}

.green h4 {
  color: white;
  text-align: center;
  margin-top: 50px;
  letter-spacing: 3px;
}

.button1 {
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #379259;
  color: #379259;
  text-align: center;
  font-size: 1.3em;
  padding: 7px 58px;
  font-weight: 200;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  letter-spacing: 1px;
}

.button1 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
.button1 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;

  top: 0;
  right: -20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.button1:hover span {
  padding-right: 25px;
}
.button1:hover span:after {
  opacity: 1;
  right: 0;
}

/*text leading to cards*/

#lead {
  margin-top: 50px;
}

.text {
  font-weight: 300;
  position: relative;
}

.quote {
  position: absolute;
  top: 20px;
}

/*cards*/
.card {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.card:hover {
  -webkit-box-shadow: 0px 5px 14px -5px rgba(0, 0, 0, 0.74);
  -moz-box-shadow: 0px 5px 14px -5px rgba(0, 0, 0, 0.74);
  box-shadow: 0px 5px 14px -5px rgba(0, 0, 0, 0.74);
  -webkit-transform: translateY(-5px);
  -ms-transform: translateY(-15px);
  -o-transform: translateY(-15px);
  transform: translateY(-15px);
}

.card-body {
  background-color: #397259;
}

.card-text {
  color: #fff;
  text-align: center;
  font-size: 0.9rem;
}

h2 {
  letter-spacing: 2px;
}

#border {
  border-bottom: 4px solid #397259;
  border-top: 4px solid #397259;
  width: 6%;
  padding: 20px 0px;
}

#wsp {
  margin-top: 30px;
  background-color: #397259;
  padding: 30px 30px;
  width: 100% !important;
  position: absolute;
  left: 0;
  right: 0;
}

#wsp h4 {
  color: #fff;
  text-align: center;
  letter-spacing: 2px;
  font-size: 1.2rem;
}

.whitebtn {
  padding: 12px 60px;
  background-color: #fff;
  border-radius: 4px;
  border: 2px solid #397259;
}
#txt {
  margin-top: 0px;
}

.text {
  font-size: 18px;
  letter-spacing: 1px;
}
#quote {
  font-style: italic;
  font-size: 18px;
}

.whitebtn a {
  color: #397259;
  letter-spacing: 2px;
}

#lead {
  margin-top: 250px;
}

/*form*/

#form-main {
  width: 100%;
  float: left;
  padding-top: 0px;
}

#form-div {
  background-color: #397259;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 35px;
  padding-bottom: 50px;
  width: 470px;
  float: left;
  left: 50%;
  position: absolute;

  margin-left: -240px;
  border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}

input {
  width: 100%;
}

textarea {
  width: 100%;
  height: 150px;
  line-height: 150%;
  resize: vertical;
}
#button {
  float: left;
  width: 100%;
  border: #fbfbfb solid 4px;
  cursor: pointer;
  background-color: #397259;
  color: white;
  font-size: 24px;
  padding-top: 22px;
  padding-bottom: 22px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  margin-top: -4px;
  font-weight: 700;
}

#button:hover {
  background-color: rgba(0, 0, 0, 0);
  color: #397259;
}

.submit {
  letter-spacing: 2px;
  font-weight: 400;
}

.submit:hover {
  color: #3498db;
}

.ease {
  width: 0px;
  height: 74px;
  background-color: #397259;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  transition: 0.3s ease;
}

.submit:hover .ease {
  width: 100%;
  background-color: #fff;
}

/*uderform*/

.underform {
  margin-top: 0;
  position: relative;
}

/*Footer*/

footer {
  background-color: #397259;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  margin-top: 50px;
}

footer h1 {
  text-align: center;
  color: #fff;
}

footer .button a {
  text-decoration: none;
  color: #397259;
}

footer hr {
  width: 60%;
}

footer .button {
  display: inline-block;
  margin: 10px 20px;
  height: 60px;
  width: 60px;
  box-sizing: border-box;
  color: #397259;
  background: #fff;
  border-radius: 50px;
  text-align: center;
}
footer .button .icon {
  display: inline-block;
  height: 60px;
  width: 60px;
  text-align: center;
  box-sizing: border-box;
  border-radius: 50px;
  line-height: 60px;
}

.btn-floating {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  text-decoration: none;
  border-radius: 50%;
  background: #fff;
}

/*kontakt*/
a[href^='mailto:']:hover {
  text-decoration: none;
  color: #397259;
}

a[href^='tel:']:hover {
  text-decoration: none;
  color: #397259;
}

/*socials*/
.wrapper .button {
  display: inline-block;
  height: 60px;
  width: 60px;
  float: left;
  margin: 10px 10px;
  overflow: hidden;
  background: #397259;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  color: #fff;

  transition: all 0.3s ease-out;
}

.wrapper .button .icon {
  display: inline-block;
  height: 60px;
  width: 60px;
  text-align: center;
  box-sizing: border-box;
  border-radius: 50px;
  line-height: 60px;
}
.wrapper .button .icon i {
  font-size: 25px;
  line-height: 60px;
}
.wrapper .button span {
  font-size: 20px;
  font-weight: 200;
  line-height: 60px;
  margin-left: 10px;
}

.wrapper .button:hover {
  width: 200px;
}

/*---Media Queries --*/
@media (max-width: 1040px) {
  #pagewrap {
    width: auto;
  }
}

@media (max-width: 992px) {
  #pagewrap {
    width: auto;
  }
  .quote {
    top: 30px;
  }
  .underform {
    margin-top: 500px;
  }

  #txt {
    margin-top: 120px;
  }
}
@media (max-width: 768px) {
  #pagewrap {
    width: auto;
  }
  .quote {
    top: 40px;
  }

  #txt {
    margin-top: 120px;
  }
}
@media (max-width: 576px) {
  #pagewrap {
    width: auto;
  }
  .quote {
    top: 100px;
    left: auto;
    right: auto;
  }

  #txt {
    margin-top: 100px;
  }
  .quote {
    left: 60px;
    top: 20px;
  }
  #form-main {
    display: none;
  }
}

@media (max-width: 375px) {
  .nav-link {
    font-size: 1.4em;
  }
  .quote {
    top: 100px;
    left: auto;
    right: auto;
  }
  .card {
    max-width: 100%;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  #main3 {
    margin-top: 20px;
  }
  #txt {
    margin-top: 100px;
  }
  #form-main {
    display: none;
  }
}
